{% load static %}
<html>
    <head>
        <title>동아리 </title>
    </head>
    <body>
        <div class = title >
            <h1> <a href="http://127.0.0.1:8000/">JOA</a></h1>
        </div>
        {% for category in post_category %}
            <div> 
                {% for post in category %}
                    <div>
                        <h4>{{post.title}} -- 분류: {{post.category}} </h4>
                        <p>작성자 :{{post.member}} -- 작성일 :{{post.created_at}}</p>
                        <p>{{post.content}}</p>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <div class = base>
        </div>
        <div class = menu>
        </div>
        <div class= post>
            {% block content %}
            {% endblock %}
        </div>
        <div class = comment>
            {% block comment %}
            {% endblock %}    
        </div>

    </body>
</html>
