{% load static %}
<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <title>교육봉사동아리 JOA </title>
    </head>
    <body>
        <div class = title >
            <h1> <a href="http://127.0.0.1:8000/">JOA</a></h1>
        </div>
        <div class = menu>

        </div>
        <div class= post>
            {% block content %}
            {% endblock %}
        </div>
        <div class = comment>
            {% block comment %}
            {% endblock %}    
        </div>

    </body>
</html>
